@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-background: #f8fafc;
  --color-inputbackground: #f3f4f6;
  --color-label: #374151;

  --font-supermarcado: Super-Marcado;
  --font-lato-bold: Lato-Bold;
  --font-roboto-italic: Roboto-Bold;
  --font-sans-regular: Sans-Regular;
}

@layer components {
  .sheet-heading {
    @apply text-xl font-semibold text-gray-700;
  }

  .form-input-label {
    @apply text-[15px] font-medium text-gray-700 tracking-[0.1px];
  }

  .form-input-text {
    @apply flex-1 text-[15px] font-normal text-gray-900 tracking-[0.5px];
  }

  .form-input-box {
    @apply flex-row items-center bg-gray-50 border rounded-xl px-1 h-12;
  }
}
